<a href="https://colab.research.google.com/github/crislanecas/estudos_python/blob/main/SoulCode/Aula_03_Operadores_e_convers%C3%A3o_de_vari%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operadores matemáticos

## Soma

In [ ]:
# Declara as variáveis.
n1 = 5.887
n2 = 7.15

In [ ]:
# Efetua a operação de soma.
n1 + n2

13.036999999999999

In [ ]:
# Atribui a soma a uma nova variável.
soma = n1 + n2

In [ ]:
# Apresenta o resultado da operação.
soma

13.036999999999999

In [ ]:
# Outras formas de apresentar o mesmo resultado da operação.
print(n1 + n2)
print(soma)
print('A soma é: ', soma)
print(f'A soma dos números com formação é: {soma:.2f}.')
print(f'a soma de {n1} com {n2} é igual a {soma}.')

13.036999999999999
13.036999999999999
A soma é:  13.036999999999999
A soma dos números com formação é: 13.04.
a soma de 5.887 com 7.15 é igual a 13.036999999999999.

## Subtração

In [ ]:
# Declara as variáveis.
a1 = 154.587
a2 = 10.548

In [ ]:
# Efetua a operação de subtração.
a1 - a2

144.039

In [ ]:
# Atribui a subtração a uma nova variável.
sub = a1 - a2

In [ ]:
# Apresenta o resultado da operação.
sub

144.039

In [ ]:
# Outras formas de apresentar o mesmo resultado da operação.
print(a1 - a2)
print(sub)
print('A subtração é: ', sub)
print(f'A subt dos números é: {sub:.2f}')
print(f'a soma de {a1} com {a2} é igual a {sub}.')

144.039
144.039
A subtração é:  144.039
A subt dos números é: 144.04
a soma de 154.587 com 10.548 é igual a 144.039.

## Divisão

In [ ]:
# Declara as variáveis.
x1 = 3
x2 = 2

# Efetua a operação de divisão e atribuia uma nova variável.
div = x1 / x2

# Imprimi o resultado da operação na tela.
print(div)
print(f'A divisão dos números é: {div:.2f}')

1.5
A divisão dos números é: 1.50

In [ ]:
# Calcula o resto da divisão.
rdiv = 10 % 3

# Imprimi o resultado da operação na tela.
print(rdiv)

1

In [ ]:
# Calcula a parte inteira da divisão.
idiv = 10 // 3

# Imprimi o resultado da operação na tela.
print(f'A parte inteira da divisão 10 por 3 é : {idiv}')

A parte inteira da divisão 10 por 3 é : 3

## Exponenciação ou potenciação

In [ ]:
# Calcula a potenciação.
pot = 3 ** 2 # três ao quadrado.
print(pot)

9

In [ ]:
# Utilizando a função pow().
pow(3,2)

9

## Radiação

In [ ]:
# Importa a biblioteca para cálculos matemáticos.
import math as mt

In [ ]:
# Calcula raiz quadrada do valor informado como argumento.
mt.sqrt(144)

12.0

# Operadores de comparação (Booleanos)

## Igual que (==)

In [ ]:
# Verifica se dois valores são iguais (retornar como resposta True ou False).
a = 3
b = 3.0
teste_1 = a == b
print(teste_1)

True

In [ ]:
# As comparações também podem ser feitas com variáveis do tipo string.
teste_2 = 'fran' == 'Fran'
print(teste_2)

False

## Diferente de (!=)

In [ ]:
# Verifica se dois valores são diferentes (retornar True ou False)
a = 3
b = 3.0
teste_3 = a != b
print(teste_3)

False

## Maior que (>)

In [ ]:
# Verifica se um valor é maior que o outro.
teste_4 = 3 > 2
print(teste_4)

True

In [ ]:
# (>=)
# Verifica se um valor é maior ou igual ao outro.
teste_5 = 3 >= 3
print(teste_5)

True

## Menor que (<)

In [ ]:
# (<)
# Verifica se um valor é menor que o outro.
teste6 = 2 < 2
print(teste6)

False

# Operadores de atribuição
= (equivale x = 1)

In [ ]:
# Atribuição direta: atribui ao lado esquerdo do sinal um valor a variável.
nome = 'fran'
peso = 51
altura = 1.65

## Atribuição de soma
+= (equivale x = x + y)

In [ ]:
# Cria uma variável t que recebe o número inteiro 3 e depois some 1 para essa variável.
t = 3       # cria variável .
t = t + 1   # soma 1 a variável.
print(t)

4

In [ ]:
# Outra forma de resolve o mesmo problema.
t = 3
t = 3 + 1
print(t)

4

In [ ]:
# Usando operador de atribuição de soma.
t = 3
t += 1
print(t)

4

## Atribuição de subtração
-= (equivale x = x - y)

In [ ]:
# Cria uma variável z que recebe o número inteiro 5 e depois diminua 2 para essa variável.
z = 5
z = z - 2
print(z)

3

In [ ]:
# Outra forma de resolve o mesmo problema.
z = 5
z = 5 - 2
print(z)

3

In [ ]:
# Usando operador de atribuição de subtração.
z = 5
z -= 2
print(z)

3

## Atribuição de multipliação
*= (equivale x = x * y)

In [ ]:
# Cria uma variável j que recebe o número 5 e depois multiplique este número por 2.
j = 5
j = j * 2
print(j)

10

In [ ]:
# Outra forma de resolve o mesmo problema.
j = 5
j = 5 * 2
print(j)

10

In [ ]:
# Usando operador de atribuição de multiplicação.
j = 5
j *= 2
print(j)

10

## Atribuição de divisão
/= (equivale x = x / y)

In [ ]:
# Cria uma variável k que recebe o número 4 e depois receba o resto da divisão dela por 2.
k = 4
k = k / 2
print(k)

2.0

In [ ]:
# Outra forma de resolve o mesmo problema.
k = 4
k = 4 / 2
print(k)

2.0

In [ ]:
# Usando atribuição de resto da divisão.
k = 4
k /= 2
print(k)

2.0

## Atribuição do resto da divisão
%= (equivale x = x % y)

In [ ]:
# Cria uma variável b que recebe o número 7 e depois receba o resto da divisão dela por 2.
b = 7
b = b % 2
print(b)

1

In [ ]:
# Outra forma de resolve o mesmo problema.
b = 7
b = 7 % 2
print(b)

1

In [ ]:
# Usando atribuição de resto da divisão.
b = 7
b %= 2
print(b)

1

# Operadores lógicos

## AND ou &
Retorna verdadeiro somente se TODAS as condições de uma comparação forem satisfeitas.

In [ ]:
teste_8 = 3 >= 2 and 3 != 2 and 3 < 4 # V and V and V.
print(teste_8)

True

In [ ]:
teste_9 = (3 >= 2) & (3 != 2) & (3 < 4) # v & v & V.
print(teste_9)

True

## OR ou |
Retorna verdadeiro se PELO MENOS UM dos elementos das condições for verdadeiro.

In [ ]:
teste_10 = 3 >= 2 or 3 == 2 or 3 > 4 # v or f or f.
print(teste_10)

True

In [ ]:
teste_11 = 1 >= 2 or 3 == 2 or 3 > 4 # f or f or f.
print(teste_11)

False

In [ ]:
teste_12 = (3 >= 2) | (3 == 2) | (3 > 4) # v or f or f.
print(teste_12)

True

## NOT

In [ ]:
teste_13 = not 3 >= 2 # v (transforma True em False).
print(teste_13)

False

# Conversão de variáveis

## Conversão de int para float

In [ ]:
# Atribui um valor inteiro a variável.
num_int = 10

# Conversão de int para float.
num_float = float(num_int)

# Checando a conversão.
print(type(num_int))
print(type(num_float))

<class 'int'>
<class 'float'>

In [ ]:
# Checando se transformamos de 10 para 10.0.
print(num_float)

10.0

## Conversão de int para str

In [ ]:
# Atribui um valor inteiro a variável.
num_int = 10

# Conversão de int pata string.
num_str = str(num_int)

# Checando a conversão.
print(type(num_int))
print(type(num_str))

<class 'int'>
<class 'str'>

In [ ]:
# Checando se transformamos de 10 para '10'.
print(num_str)

10

## Conversão de floar para int

In [ ]:
# Atribui um valor decimal a variável.
num_float = 10.5

# Conversão de float para int.
num_int = int(num_float)

# Checando a conversão.
print(type(num_float))
print(type(num_int))

In [ ]:
# Checando a conversão.
print(num_int)

10