<a href="https://colab.research.google.com/github/crislanecas/estudos_python/blob/main/SoulCode/Aula_09_1_Itera%C3%A7%C3%A3o_com_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FOR

O loop for é uma estrutura de repetição que permite executar um bloco de código várias vezes. Ele é amplamente usado para percorrer elementos em sequências, como listas, tuplas e strings. O loop for é uma escolha natural quando você sabe quantas vezes deseja repetir uma ação.

In [ ]:
'''
for variável in sequência:
    bloco de codigo a ser repetido
'''

'\nfor variável in sequência:\n    bloco de codigo a ser repetido\n'

In [ ]:
# Exemplo comparativo: Imprima na tela os números de 0 a 9 com while e for

In [ ]:
# Usando While
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# A função range poderá ter até 3 argumentos
# for i in range (inicio_do_contador, condição_de_parada, incremento ou decremento)

In [ ]:
# 1° Forma: utilizando o range com apenas um argumento (condição de parada com incremento 1, padrão)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 2° Forma: utilizando o range com apenas 2 argumentos (inicio da contagem e a condição de parada)
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 3° Forma: utilizando o range com 3 argumentos (inicio da contagem, condição de parada e incremento)
for i in range(5, 20, 3):
  print(i)

5
8
11
14
17

In [ ]:
# 3° Forma: utilizando o range com apenas 3 argumentos (inicio da contagem, condição de parada e incremento)
for i in range(0, 10, 1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 4° forma: exemplo de iteração de string
palavra = 'Python'

for i in palavra:
    print(i)

P
y
t
h
o
n

In [ ]:
# 5° forma: exemplo de iteração de tupla
tupla = (10, 20, 30, 40, 50)
for i in tupla:
    print(i)

10
20
30
40
50

In [ ]:
# 6° forma: exemplo de iteração com listas
alunos = ['Erika', 'Lidiane', 'Rosangela', 'Victor Gabriel']
for i in alunos:
  print(i)

Erika
Lidiane
Rosangela
Victor Gabriel

In [ ]:
# 7° forma: exemplo de iteração com dicionários
frutas = {'maça': 3,
          'banana': 5,
          'laranja': 10,
          'pêra': 2
         }

for chave, valor in frutas.items():
    print(f'{chave}:{valor}')

maça:3
banana:5
laranja:10
pêra:2

In [ ]:
# 8º forma: Calculando a soma dos numeros de 1 a 10:
soma = 0
for i in range(1, 11):
    soma += i
print("A soma dos números de 1 a 10 é:", soma)

A soma dos números de 1 a 10 é: 55