<a href="https://colab.research.google.com/github/crislanecas/estudos_python/blob/main/SoulCode/Aula_07_1_Operadores_de_associa%C3%A7%C3%A3o_e_identidade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operadores de associação

## in
Retorna verdadeiro se um caracter  ou sequencia de caracteres for encontrado dentro de uma string.

In [ ]:
# Exemplo 1.
nome = 'Franciane'
'ane' in nome

True

In [ ]:
# Exemplo 2.
nome = 'Franciane'
'Ane' in nome

False

In [ ]:
# Exemplo 3.
nome1 = 'Victor Gabriel'
'vic' in nome1

False

In [ ]:
# Exemplo 4.
nome = 'Marcos'
'mar' in nome.lower()

True

## not in
Retorna verdadeiro se um caracter ou sequência de caracteres **NÃO** for encontrado dentro de uma string.

In [ ]:
# Exemplo 1.
nome = 'daniela'
teste1 = 'Dani' not in nome
print('Dani não está contido em daniela? ', teste1)

Dani não está contido em daniela?  True

# Operador de identidade

## is
Compara se um objeto é igual ao outro em relação ao **valor** e **tipo**.

In [ ]:
# Entrada de dados.
h = 3
p = 3

# Primeira comparação.
teste2 = p == h

# Exibe o resultado em tela.
teste2

True

In [ ]:
# Entrada de dados.
h = 3
p = 3

# Segunda comparação.
teste3 = p is h

# Exibe o resultado em tela.
teste3

True

In [ ]:
# Entrada de dados.
h = 3
p = 3.0

# Comparação.
teste4 = p == h

# Exibe o resultado em tela.
teste4

True

In [ ]:
# Entrada de dados.
h = 3
p = 3.0

# Comparação.
teste5 = p is h

# Exibe o resultado em tela.
print(teste5)
print(type(h))
print(type(p))

False
<class 'int'>
<class 'float'>

In [ ]:
# Entrada de dados.
h = 'Maria'
p = 'maria'

# Comparação.
teste6 = p is h # lembrando que o python é case sensitive.

# Exibe o resultado em tela.
print(teste6)
print(type(h))
print(type(p))

False
<class 'str'>
<class 'str'>

In [ ]:
# Entrada de dados.
h = 3.0
p = 3.0

# Comparação.
teste7 = p is h

# Exibe o resultado em tela.
print(teste7)
print(type(h))
print(type(p))

False
<class 'float'>
<class 'float'>

In [ ]:
# Entrada de dados.
h = 3.0
p = 3.0

# Comparação.
teste8 = p == h

# Exibe o resultado em tela.
print(teste8)
print(type(h))
print(type(p))

True
<class 'float'>
<class 'float'>

## is not
Compara se um objeto é diferente do outro em relação ao **valor** e **tipo**.

In [ ]:
# Entrada de dados.
h = 3
p = 4

# Comparação.
teste9 = h != p

# Exibe o resultado em tela.
teste9

True

In [ ]:
# Entrada de dados.
h = 3
p = 4

# Comparação.
teste10 = h is not p

# Exibe o resultado em tela.
teste10

True